{% for product in object_list %}
{{ product.name }} - {{ product.amount }} em estoque
    <form method="POST" action="{% url 'add-stock' product.id %}">
        {% csrf_token %}
        <input type="number" name="amount" min="1">
        <input type="submit" value="Adicionar ao Estoque">
    </form>
<br>
    <form method="POST" action="{% url 'Remove-stock' product.id %}">
        {% csrf_token %}
        <input type="number" name="amount" min="1">
        <input type="submit" value="excluir Estoque">
    </form>
<br>
{% endfor %}

